@import url("./reset.css");
@import url("./components/app.css");

:root {    
    /* colors */
    --color-black: #222;
    --color-white: #999;

    /* padding */
    --pad-default: 16px;
    --pad-med: calc( var(--pad-default) / 2 ) ;

    /* radius */
    --radius-default: 4px;
}


body {
    height: 100%;

    background-color: var(--color-white);
    color: var(--color-black);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;

}