@import url("./reset.css");
@import url("./components/app.css");
@import url("./components/header.css");
@import url("./components/input.css");
@import url("./components/search-form.css");

:root {    
    /* colors */
    --color-black: #222;
    --color-white: #999;
    --color-darkness-blue: rgb(17, 40, 93);

    /* padding */
    --pad-default: 1.6rem;
    --pad-med: calc( var(--pad-default) / 2 ) ;
    --pad-min: calc( var(--pad-med) / 2 );

    /* radius */
    --radius-default: .4rem;

    /* box-shadow */
    --box-shadow-default: 
        .4rem .4rem .2rem rgba( 0, 0, 0, .3 );
}


body {
    height: 100%;

    background-color: var(--color-darkness-blue);
    color: var(--color-black);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}