.app {
    max-width: 90%;

    color: var(--color-white);

    background-color: rgb(17, 40, 93);
    background-image: 
    linear-gradient(52deg, rgb(17, 40, 93), rgba(255, 255, 255, 0.366));
    
    padding: var(--pad-med) var(--pad-default);
    margin: 8px auto;
    
    border-radius: var(--radius-default);

    overflow: hidden;
    box-shadow: 4px 4px 2px rgba( 0, 0, 0, .2);
}