.search-form {
    /* border: .2rem solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .8rem;
}

.search-form [for = "citysearch"] {
    background-color: var(--colors-primary);
    color: var(--colors-fifth);

    text-transform: capitalize;
    font-weight: 400;
    
    padding: var(--pad-min) var(--pad-med);
    border-radius: var(--radius-default);
    margin-bottom: -.8rem;
    
    z-index: 1;

    margin-bottom: -1.6rem;
    margin-left: .6rem;
}