.search-form {
    /* border: .2rem solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .4rem;
}

.search-form [for = "citysearch"] {
    background-color: var(--color-white);
    color: var(--color-black);
    
    padding: var(--pad-min) var(--pad-med);
    border-radius: var(--radius-default);
    margin-bottom: -.8rem;
    
    z-index: 1;
}

.search-form #citysearch {
    
}