.title {
    position: relative;
    font-size: 5rem;
    color: var(--colors-fourth);
    text-shadow:
        .15rem .15rem .2rem rgba(0, 0, 0, 0.4),
        .15rem .15rem .4rem var(--colors-fifth);
}